<div class="<%= params[:num] %>-container well">
  <pre class="output">
    -
  </pre>
  <button class="btn btn-primary" data-action="run">Run Script</button>
</div>

<ul>
  <li><%= link_to 'Page1 (alert)', pages_path('1') %></li>
  <li><%= link_to 'Page2 (print)', pages_path('2') %></li>
</ul>